
:host {
  --input-color: #0F0;
  --fg-color: #FFF;
  --bg-color: #000;
  --error-color: #A00;
  --line-height: 1.2;
  --link-color: #0FF;
  --link-visited-color: #0AA;
  background-color: var(--bg-color);
  overflow-x: auto;
  overflow-y: hidden;
}

irc-login {
  display: flex;
}

:host(.mobile) irc-login.loggedin {
  display: block;
  white-space: nowrap;
}

nav {
  display: inline-block;
  flex-basis: 100%;
  min-width: 16rem;
  max-width: 16rem;
  background-color: transparent;
  border: 0 none;
  border-right: 1px solid var(--fg-color);
  order: 1;
  height: 100%;
  white-space: normal;
  vertical-align: top;
  overflow-y: auto;
}

main {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 100%;
  order: 2;
  height: 100%;
  white-space: normal;
  vertical-align: top;
}

:host(.mobile) main {
  width: 100%;
}

[\@="main_view"] {
  position: relative;
  display: inline-block;
  flex-basis: 100%;
}

[\@="main_view"] > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

[\@="main_view"] > [\@="root"] {
  display: flex;
  flex-direction: column;
}

[\@="main_view"] [\@="title"] {
  padding: 0.5rem;
  border-bottom: 1px solid var(--fg-color);
  margin: 0;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: normal;
}

[\@="main_view"] [\@=main] {
  flex-basis: 100%;
  overflow: auto;
  padding: 0.2rem;
  word-wrap: break-word;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
}

[\@="reply"] {
  font-family: monospace;
  color: var(--input-color);
  white-space: no-wrap;
}

[\@="reply"] [\@="info"] {
  white-space: pre-wrap;
}

[\@="reply"] [\@="info"] > span {
  padding: 0.2rem 0.4rem;
  border-left: 1px dotted var(--fg-color);
}

[\@="reply"] [\@="code"] {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  min-width: 3ex;
  text-align: right;
}

[\@="channel_list"] {
  margin-left: 1rem;
/*  border-left: 1px solid var(--fg-color);*/
}

[\@="networkentry"] {
  border-bottom: 3px solid var(--fg-color);
}

[\@="networkentry"]:not(.connected) > [\@="name"] {
  color: var(--error-color);
}

[\@="networkentry"] > [\@="name"] {
  padding: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
  font-style: italic;
}

[\@="channelentry"] {
  padding: 0.5rem;
  padding-left: 0;
  border-top: 1px solid var(--fg-color);
  cursor: pointer;
  white-space: nowrap;
}

[\@="channelentry"].mentioned {
  font-weight: bold;
}

[\@="notifications"]:empty {
  display: none;
}

[\@="notifications"] {
  float: right;
  background-color: var(--fg-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 100%;
  padding: 0.25rem;
  margin: -0.25rem 0;
  margin-left: 0.25rem;
}

:host(.mobile) nav {
  width: 18rem;
  max-width: 100%;
  min-width: auto;
  border-right: 0 none;
  border-left: 1px solid var(--fg-color);
}

[\@=chatline] {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--fg-color);
}

[\@=chatline] input[type=submit] {
  border: 0 none;
  font: inherit;
  color: var(--bg-color);
  background-color: var(--input-color);
  padding: 0 0.5rem;
  line-height: var(--line-height);
  cursor: pointer;
}

[\@=chatline] textarea {
  font-family: monospace;
  font-size: inherit;
  line-height: var(--line-height);
  color: var(--input-color);
  outline: 0 none;
  flex-basis: 100%;
  resize: none;
  height: calc(1em * var(--line-height));
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid var(--input-color);
  margin: 0.2rem;
}
