<irc-login @="login">
  <div slot="pending">Connecting...</div>
  <main>
    <div @="main_view">
      <template @="network_view">
        <div @="root">
          <h1 @="title"></h1>
          <div @="main"></div>
        </div>
      </template>
    </div>
    <form @="chatline">
      <textarea @="text"></textarea>
      <input @="submit" type="submit" value="⮞"/>
    </form>
  </main>
  <nav>
    <div @="network_list">
      <template @="network_list_entry">
        <div @="networkentry">
          <div @="name"></div>
          <div @="channel_list">
          </div>
        </div>
      </template>
      <template @="channel_list_entry">
        <div @="channelentry">
          <span @="name"></span>
          <span @="notifications"></span>
        </div>
      </template>
    </div>
  </nav>

  <template @="network_reply">
    <div @="reply">
      <span @="code"></span>
      <span @="info"></span>
    </div>
  </template>

</irc-login>
